/* global variables that aren't generated in codepen */
*,
:after,
:before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  scroll-behavior: smooth;
}

/* @apply doesn't work in codepen */
.container {
  @apply py-8 sm:py-14 px-4 lg:max-w-5xl mx-auto text-center;
  margin-left: auto;
  margin-right: auto;
  padding: 8rem 0;
  text-align: center;
}

@media (min-width: 1024px) .container {
  max-width: 64rem;
}

.timeline {
  @apply relative overflow-hidden -my-12;
  overflow: hidden;
  position: relative;
}

.line {
  @apply bg-purple-300 absolute top-28 w-0.5 z-20;
  --tw-bg-opacity: 1;
  background-color: rgba(196, 181, 253, var(--tw-bg-opacity));
  position: absolute;
  top: 7rem;
  width: 0.125rem;
  z-index: 20;
  left: calc(50% - 1px);
  left: calc(50% - theme("spacing.px"));
}

.step {
  @apply flex items-center h-56 z-10 -translate-x-full relative opacity-0 duration-500;
  @apply font-medium last:text-xl text-gray-500 last:text-sky-500 text-lg;
  --tw-translate-x: -100%;
  align-items: center;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  height: 14rem;
  opacity: 0;
  position: relative;
  transform: var(--tw-transform);
  transition-duration: 0.5s;
  z-index: 10;
}

.step:nth-child(odd) {
  @apply text-left flex-row-reverse translate-x-full;
  --tw-translate-x: 100%;
  flex-direction: row-reverse;
  text-align: left;
  transform: var(--tw-transform);
}

.step:nth-child(even) {
  @apply text-right;
  text-align: right;
}

.content {
  width: calc(50% - 32px);
}

.show-me:nth-child(n) {
  @apply transform-none opacity-100;
  opacity: 1;
  transform: none;
}
