.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: space(2);
  color: $black;
  padding: space(2) 0;
  background-color: $white;
  width: rem(150px);
  margin: 0 auto;
  column-gap: space(1);
}
