@mixin buttonOutline($color: $c-2) {
  $color: $c-2 !default;

  color: $color;
  background: transparent;
  border: 1px solid $color;

  &:hover {
    background: $color;
    text-decoration: none;
    color: $c-5;
  }
}

@mixin buttonSolid($color: $c-2) {
  $color: $c-2 !default;

  color: $c-5;
  background: $color;
  border: 1px solid $color;

  &:hover {
    background: transparent;
    text-decoration: none;
    color: $color;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 800;
  padding: 0 rem(20px);
  width: auto;
  font-size: rem(16px);
  height: rem(40px);
  transition: $ease-0;
  border-radius: 50px;
  line-height: 1;
  cursor: pointer;

  @include buttonOutline;

  &--c1 {
    @include buttonOutline($color: $c-8);
  }

  &--c2 {
    @include buttonOutline($color: $c-1);
  }

  &--c3 {
    @include buttonOutline($color: $c-9);
  }

  &--solid {
    @include buttonSolid;

    &.btn {
      &--c1 {
        @include buttonSolid($color: $c-8);
      }

      &--c2 {
        @include buttonSolid($color: $c-1);
      }

      &--c3 {
        @include buttonSolid($color: $c-9);
      }
    }
  }

  &--thin {
    font-weight: 400;
  }
}
