img {
  display: block;
  max-width: 100%;
}

.object-cover {
  @include object-cover;
}

.object-contain {
  @include object-contain;
}

.full-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    @extend .object-cover;
  }
}
