html {
  font-size: $font-size;

  @media #{$max-md} {
    font-size: $font-size * 100 / $desktop-width * 1vw;
  }

  @media #{$max-sm} {
    // font-size: $font-size * 100 / $tablet-width * 1vw;
    font-size: $font-size;
  }

  @media #{$max-xs} {
    font-size: $font-size * 100 / $mobile-width * 1vw;
  }

  @media print {
    font-size: $font-size * 100 / $screen-sm-max * 1vw;
  }

  @media print and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    font-size: 14px;
  }

  &.lock-scroll {
    overflow: hidden;

    @media #{$max-xs} {
      position: fixed;
      height: 100%;
      width: 100%;
    }

    body {
      overflow: hidden;

      @media #{$max-xs} {
        position: fixed;
        height: 100%;
        width: 100%;
      }
    }
  }
}

body {
  font-family: $font-0;
  color: $c-3;
  position: relative;
  line-height: 1.2;
  font-size: rem(14px);

  @media #{$min-sm} {
    font-size: rem(16px);
  }

  .mainWrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: rem($header-height);
    padding-bottom: rem($menu-height);

    @media #{$min-md} {
      padding-top: rem($header-height-md);
      padding-bottom: 0;
    }
  }
}

* {
  text-decoration: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

.hidden {
  display: none !important;

  &-xs {
    @media #{$max-sm} {
      display: none !important;
    }
  }

  &-sm {
    @media #{$max-sm} {
      @media #{$min-sm} {
        display: none !important;
      }
    }
  }

  &-md {
    @media #{$min-md} {
      display: none !important;
    }
  }
}

.sr-only,
.visually-hidden {
  position: relative !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  appearance: none;
}

#toolbar-bar {
  display: none;
}

hr {
  margin: rem(40px) 0;
  border: none;
  border-top: 1px solid $c-8;
}
