<section class="timeline-section grid" data-content id="education">
  <ul>
    <li>
      <div>
        <time>
          <i aria-hidden="true" class="svg-icon svg-icon--calendar"></i>
          06/2016 – 12/2017
        </time>

        <i aria-hidden="true" class="svg-icon svg-icon--education"></i>

        <p>
          Escola Técnica: <strong>ETEC Albert Einstein</strong>.
        </p>
        <br>
        <p>
          Curso: <strong>Informática</strong>.
        </p>
      </div>
    </li>

    <li>
      <div>
        <time>
          <i aria-hidden="true" class="svg-icon svg-icon--calendar"></i>
          06/2016 – 06/2020
        </time>

        <i aria-hidden="true" class="svg-icon svg-icon--education"></i>

        <p>
          Faculdade: <strong>Universidade Paulista</strong>.
        </p>
        <br>
        <p>
          Curso: <strong>Ciência da Computação</strong>.
        </p>
      </div>
    </li>
  </ul>
</section>