<!--=============== PROJECTS ===============-->
<div class="projects__content grid filters__active" data-content id="projects">
  <div class="container">
    <div class="timeline">
      <div class="line"></div>
      <div class="step">
        <div class="absolute left-1/2 bg-purple-300 h-4 w-4 transform  -translate-x-1/2 rounded-full"></div>
        <div class="content">
          <p>Item 1</p>
        </div>
      </div>
      <div class="step">
        <div class="absolute left-1/2 bg-purple-300 h-4 w-4 transform -translate-x-1/2 rounded-full"></div>
        <div class="content">
          <p>Item 2</p>
        </div>
      </div>
      <div class="step">
        <div class="absolute left-1/2 bg-purple-300 h-4 w-4 transform -translate-x-1/2 rounded-full"></div>
        <div class="content">
          <p>Item 3</p>
        </div>
      </div>
      <div class="step">
        <div class="absolute left-1/2 bg-purple-300 h-4 w-4 transform -translate-x-1/2 rounded-full"></div>
        <div class="content">
          <p>Item 4</p>
        </div>
      </div>
      <div class="step">
        <div class="absolute left-1/2 bg-purple-300 h-4 w-4 transform -translate-x-1/2 rounded-full"></div>
        <div class="content">
          <p>Item 5</p>
        </div>
      </div>
    </div>
  </div>
</div>