<section class="timeline-section grid filters__active" data-content id="projects">
  <ul>
    <li>
      <div>
        <time>
          <i aria-hidden="true" class="svg-icon svg-icon--calendar"></i>
          06/2019 – 06/2020
        </time>

        <i aria-hidden="true" class="svg-icon svg-icon--work"></i>

        <p>
          Empresa: <strong>Norte Marketing</strong>.
        </p>
        <br>
        <p>
          Cargo: <strong>Estágio em Desenvolvimento Front-end</strong>.
        </p>
        <br>
        <p>
          Desenvolver sistemas e sites web em diversas linguagens e ferramentas, tais como, PHP, HTML, CSS (SASS), javascript, Wordpress, Laragon, entre outros.
        </p>
      </div>
    </li>

    <li>
      <div>
        <time>
          <i aria-hidden="true" class="svg-icon svg-icon--calendar"></i>
          06/2020 – 08/2020
        </time>

        <i aria-hidden="true" class="svg-icon svg-icon--work"></i>

        <p>
          Empresa: <strong>Norte Marketing</strong>.
        </p>
        <br>
        <p>
          Cargo: <strong> Desenvolvedor Front-end júnior</strong>.
        </p>
        <br>
        <p>
          Desenvolver sistemas e sites web em diversas linguagens e ferramentas, tais como, PHP, HTML, CSS (SASS), javascript e Wordpress.
        </p>
      </div>
    </li>

    <li>
      <div>
        <time>
          <i aria-hidden="true" class="svg-icon svg-icon--calendar"></i>
          08/2020 – atual
        </time>

        <i aria-hidden="true" class="svg-icon svg-icon--work"></i>

        <p>
          Empresa: <strong>F5 Web Design e Tecnologia Atualizada</strong>.
        </p>
        <br>
        <p>
          Cargo: <strong>Desenvolvedor Front-end júnior</strong>.
        </p>
        <br>
        <p>
          Desenvolvimento front-end na criação de sites e aplicativos usando linguagens e ferramentas, como: HTML5, CSS3 (sass), JavaScript (+jquery) e PHP (drupal, laravel e wordpress).
        </p>
      </div>
    </li>
  </ul>
</section>